In [1]:
import pandas as pd

# Reading Data

In [2]:
df=pd.read_csv('corona_data.csv')

In [3]:
df.head()

,Age,Fever,BodyPains,RunnyNose,Difficulty_in_Breath,infection_Probability
0,60,100,1,1,1,0
1,75,102,1,0,0,1
2,25,98,0,0,0,1
3,34,97,0,0,0,0
4,4,96,0,1,0,1

In [4]:
df.tail()

,Age,Fever,BodyPains,RunnyNose,Difficulty_in_Breath,infection_Probability
7099,60,108,1,1,1,0
7100,22,104,0,0,0,0
7101,7,102,0,0,0,1
7102,17,98,0,0,1,0
7103,90,99,0,0,1,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7104 entries, 0 to 7103
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Age                    7104 non-null   int64
 1   Fever                  7104 non-null   int64
 2   BodyPains              7104 non-null   int64
 3   RunnyNose              7104 non-null   int64
 4   Difficulty_in_Breath   7104 non-null   int64
 5   infection_Probability  7104 non-null   int64
dtypes: int64(6)
memory usage: 333.1 KB

In [6]:
df['Difficulty_in_Breath'].value_counts()

0    3589
1    3515
Name: Difficulty_in_Breath, dtype: int64

In [7]:
df.describe()

,Age,Fever,BodyPains,RunnyNose,Difficulty_in_Breath,infection_Probability
count,7104.000000,7104.000000,7104.000000,7104.000000,7104.000000,7104.000000
mean,50.533080,102.004786,0.496903,0.505208,0.494792,0.493525
std,28.969553,3.774807,0.500026,0.500008,0.500008,0.499993
min,1.000000,96.000000,0.000000,0.000000,0.000000,0.000000
25%,26.000000,99.000000,0.000000,0.000000,0.000000,0.000000
50%,51.000000,102.000000,0.000000,1.000000,0.000000,0.000000
75%,76.000000,105.000000,1.000000,1.000000,1.000000,1.000000
max,100.000000,108.000000,1.000000,1.000000,1.000000,1.000000

# Train Test Splitting

In [8]:
import numpy as np

In [9]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [10]:
np.random.permutation(7)

array([6, 3, 2, 0, 4, 5, 1])

In [11]:
train,test = data_split(df,0.2)

In [12]:
train

,Age,Fever,BodyPains,RunnyNose,Difficulty_in_Breath,infection_Probability
1720,49,107,0,0,1,1
181,70,103,0,0,1,0
4793,100,99,0,1,1,1
794,50,104,1,1,1,0
3593,4,107,0,1,0,0
...,...,...,...,...,...,...
3772,73,106,0,1,0,0
5191,72,98,1,0,0,1
5226,94,104,0,1,0,1
5390,73,104,0,0,1,1
860,88,100,0,0,0,0

In [13]:
test

,Age,Fever,BodyPains,RunnyNose,Difficulty_in_Breath,infection_Probability
4979,65,97,0,1,0,1
4447,81,103,0,1,0,0
4677,64,100,1,0,1,1
5273,18,99,1,0,0,0
3796,48,105,0,0,1,0
...,...,...,...,...,...,...
1671,70,97,1,0,0,1
6524,86,101,0,0,1,0
3829,98,108,0,1,0,0
1649,58,96,0,1,0,0
5946,24,102,0,0,1,0

In [14]:
x_train = train[['Fever','BodyPains','Age','RunnyNose','Difficulty_in_Breath']].to_numpy()
x_test = test[['Fever','BodyPains','Age','RunnyNose','Difficulty_in_Breath']].to_numpy()

In [15]:
y_train = train[['infection_Probability']].to_numpy().reshape(5684,)
y_test = test[['infection_Probability']].to_numpy().reshape(1420, )

In [16]:
y_train

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
clf = LogisticRegression()
clf.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [19]:
inputFeatures = [100,1,22,-1,1]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [20]:
infProb

0.484421963546395